body {
  text-align: center;
}

h1, h2, h3, h4, p, em {
  font-family: "Montserrat";
}


/* HEADINGS */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: left;
}

#title {
  background-color: #ff4c68;
  color: #fffffa;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

/* Title Container */
.container-fluid {
  padding: 5% 15% 10%;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 55%;
  transform: rotate(25deg);
  right: 30%;
  position: absolute;
}



/* FEATURES Section */
#features {
  background-color: #fffffa;
  padding: 7% 15%;
  margin-top: 0;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-heading {
  font-weight: 900;
  font-size: 2.5rem;
  padding: 5%;
}

.feature-text {
  font-weight: 400;
  font-size: 1.5rem;
  color: #7d7e80;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172
}

.testimonial-text {
  font-size: 3.0rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fffffa;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-inner {
  height: 520px;
  background-color: #ef8172
}

.carousel-item {
  padding: 5% 15%;
  height: 100%;
  background-color: #ef8172
}

.client-names{
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fffffa;
}

/* Press Section */
#press {
  padding-bottom: 3%;
  background-color: #ef8172
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 7% 15%;
}

.pricing-headline {
  color: black;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.card-title {
  text-align: center;
}

.card-heading {
  font-weight: 900;
  font-size: 2rem;
  color: black;
}

.pricing-text{
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: #7d7e80;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  padding: 10% 25%;
  background-color: #ff4c68;
}

.cta-text {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fffffa;
}

#footer {
  padding: 5%;
  background-color: #fffffa;
}

.social-logos {
  margin: 10px;
}

.copy-text{
  font-weight: 400;
  font-size: .7rem;
  color: black;
}

/* Media Query Breakpoints */
@media (max-width: 1020px) {
  .title-image {
    position: static;
    transform: rotate(-10deg);
    width: 300px;
  }

  .big-heading {
    text-align: center;
  }

  .feature-heading {
    font-weight: 900;
    font-size: 2.5rem;
    padding: 1% 5%;
  }

  .feature-text {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

/* end */
